<section class="about-us">
  <div class="container about-us-container">
    <div class="about-us-p>">
      <h2 class="about-us-title">About Us</h2>
      <div class="about-us-list list">
        <p class="about-us-text">
          The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
          vyshyvanka comes to life with new zest and style. Our store offers a
          wide selection of high-quality and authentic embroidery, which
          combines the elegance of traditional needlework and modern design.
        </p>
        <p class="about-us-text">
          In "Vyshyvanka Vibes" you will find various models of embroidery, from
          classic to modern, corresponding to the latest fashion trends. Our
          embroidery is made using natural fabrics and is embroidered by highly
          qualified craftsmen who convey the beauty of Ukrainian culture in
          every detail.We believe that vyshyvanka is not just clothing, but a
          symbol of national pride, the heritage of our ancestors and a way of
          expressing one's individuality. Each embroidery from "Vyshyvanka
          Vibes" has its own unique history and symbolism, which gives it a
          special meaning.
        </p>
      </div>
    </div>
    <div class="about-us-cover-wrap">
      <picture>
        <source
          srcset="
            ./img/jpg/girlandboy-desktop.jpg    1x,
            ./img/jpg/girlandboy-desktop@2x.jpg 2x,
            ./img/jpg/girlandboy-desktop@3x.jpg 3x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/jpg/girlandboy-laptop.jpg    1x,
            ./img/jpg/girlandboy-laptop@2x.jpg 2x,
            ./img/jpg/girlandboy-laptop@3x.jpg 3x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/jpg/girlandboy-tablet.jpg    1x,
            ./img/jpg/girlandboy-tablet@2x.jpg 2x,
            ./img/jpg/girlandboy-tablet@3x.jpg 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/jpg/girlandboy-mobile.jpg    1x,
            ./img/jpg/girlandboy-mobile@2x.jpg 2x,
            ./img/jpg/girlandboy-mobile@3x.jpg 3x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./img/jpg/girlandboy-tablet.jpg"
          alt="Ukrainian national clothes"
          width="704"
          height="545"
          class="about-us-img"
        />
      </picture>
    </div>
  </div>
</section>
