<section class="hero-section" id="hero">
  <div class="container hero-container">
    <div class="hero-one">
      <div class="hero-one-text">
        <h1 class="hero element-animation">
          Reviving the traditional
          <span class="hero-span">Ukrainian</span> artistry in every stitch.
        </h1>

        <a href="#order" class="hero-order-link"
          >order
          <span class="hero-arrow">
            <svg class="arrow-icon">
              <use href="./img/svg/sprite.svg#arrow"></use>
            </svg>
          </span>
        </a>
      </div>

      <picture class="girl element-animation">
        <source
          srcset="
            ./img/jpg/girl-laptop-desktop.jpg    1x,
            ./img/jpg/girl-laptop-desktop@2x.jpg 2x,
            ./img/jpg/girl-laptop-desktop@3x.jpg 3x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/jpg/girl-tablet.jpg    1x,
            ./img/jpg/girl-tablet@2x.jpg 2x,
            ./img/jpg/girl-tablet@3x.jpg 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/jpg/girl-mobile.jpg    1x,
            ./img/jpg/girl-mobile@2x.jpg 2x,
            ./img/jpg/girl-mobile@3x.jpg 3x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./img/jpg/girl-laptop-desktop.jpg"
          alt="a girl wearing a grey vyshyvanka"
        />
      </picture>
    </div>
    <div class="hero-two">
      <div class="hero-visuals">
        <img
          class="star"
          srcset="
            ./img/png/star.png    1x,
            ./img/png/star@2x.png 2x,
            ./img/png/star@3x.png 3x
          "
          src="./img/png/star.png"
          alt="a yellow star"
          width="52"
          height="51"
        />

        <p class="star-text">all embroidery is made by hand</p>
      </div>

      <picture class="egg-image">
        <source
          srcset="
            ../img/jpg/image-desktop.jpg   1x,
            ./img/jpg/image-desktop@2x.jpg 2x,
            ./img/jpg/image-desktop@3x.jpg 3x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/jpg/image-laptop.jpg    1x,
            ./img/jpg/image-laptop@2x.jpg 2x,
            ./img/jpg/image-laptop@3x.jpg 3x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/jpg/image.jpg    1x,
            ./img/jpg/image@2x.jpg 2x,
            ./img/jpg/image@3x.jpg 3x
          "
          media="(min-width: 768px)"
        />
        <img class="egg-image" src="./img/jpg/image.jpg" alt="ornament" />
      </picture>
    </div>
  </div>
</section>
