<section id="collection" class="section our-collection">
    <div class="container container-collection">
        <h2 class="title-collection">Our collection</h2>
        <ul class="list-collection">
            <li class="item-collection-element">
                <img class="background-images" src="../img/png/background-yellow@3x.png" alt="">
                <picture class="picture-collection">
                    <source srcset="./img/jpg/image-1@3x.jpg" alt="AUGUST Poltava women's blouseRING"
                        media="(min-width: 1166px)" />
                    <source srcset="./img/jpg/image-1@2x.jpg" alt="AUGUST Poltava women's blouseRING" media="(min-width: 768px)" />
                    <source srcset="./img/jpg/image-1.jpg" alt="AUGUST Poltava women's blouseRING" media="(max-width: 767px)" />
                    <img class="collection-image" src="./img/jpg/image-1.jpg" alt="AUGUST Poltava women's blouseRING">
                </picture>
                <div class="content-collection">
                    <h3 class="subtitle-collection">AUGUST Poltava women's blouse<span class="subtitle-span">RING</span></h3>
                    <p class="text-collection">3300 UAH</p>
            </div>
            </li>  
            <li class="item-collection-element">
                <picture class="picture-collection">
                    <source srcset="./img/jpg/image-2@3x.jpg" alt="AUGUST Poltava women's blouseRING"
                        media="(min-width: 1166px)" />
                    <source srcset="./img/jpg/image-2@2x.jpg" alt="AUGUST Poltava women's blouseRING" media="(min-width: 768px)" />
                    <source srcset="./img/jpg/image-2.jpg" alt="AUGUST Poltava women's blouseRING" media="(max-width: 767px)" />
                    <img  class="collection-image" src="./img/jpg/image-2.jpg" alt="Appearance of banking applications">
                </picture>
            
                <div class="content-collection">
                    <h3 class="subtitle-collection">Women's blouse Gorgany</h3>
                    <p class="text-collection">3350 UAH</p>
                </div>
            </li>
            <li class="item-collection-element">
                <picture class="picture-collection">
                    <source srcset="./img/jpg/image-3@3x.jpg" alt="AUGUST Poltava women's blouseRING"
                        media="(min-width: 1166px)" />
                    <source srcset="./img/jpg/image-3@2x.jpg" alt="AUGUST Poltava women's blouseRING" media="(min-width: 768px)" />
                    <source srcset="./img/jpg/image-3.jpg" alt="AUGUST Poltava women's blouseRING" media="(max-width: 767px)" />
                    <img  class="collection-image" src="./images/section3/lep/banking.jpg" alt="Appearance of banking applications">
                </picture>
            
                <div class="content-collection">
                    <h3 class="subtitle-collection">Women's blouse Crimea</h3>
                    <p class="text-collection">4000 UAH</p>
                </div>
            </li>
            <li class="item-collection-element">
                <picture class="picture-collection">
                    <source srcset="./img/jpg/image-4@3x.jpg" alt="AUGUST Poltava women's blouseRING"
                        media="(min-width: 1166px)" />
                    <source srcset="./img/jpg/image-4@2x.jpg" alt="AUGUST Poltava women's blouseRING" media="(min-width: 768px)" />
                    <source srcset="./img/jpg/image-4.jpg" alt="AUGUST Poltava women's blouseRING" media="(max-width: 767px)" />
                    <img  class="collection-image" src="./images/section3/lep/banking.jpg" alt="Appearance of banking applications" >
                </picture>
            
                <div class="content-collection">
                    <h3 class="subtitle-collection">Men's shirt Verkhovina</h3>
                    <p class="text-collection">3100 UAH</p>
                </div>
            </li>
            <li class="item-collection-element">
                <picture class="picture-collection">
                    <source srcset="./img/jpg/image-5@3x.jpg" alt="AUGUST Poltava women's blouseRING"
                        media="(min-width: 1166px)" />
                    <source srcset="./img/jpg/image-5@2x.jpg" alt="AUGUST Poltava women's blouseRING" media="(min-width: 768px)" />
                    <source srcset="./img/jpg/image-5.jpg" alt="AUGUST Poltava women's blouseRING" media="(max-width: 767px)" />
                    <img  class="collection-image" src="./images/section3/lep/banking.jpg" alt="Appearance of banking applications" >
                </picture>
            
                <div class="content-collection">
                    <h3 class="subtitle-collection">Mountain men's shirt</h3>
                    <p class="text-collection">3300 UAH</p>
                </div>
            </li>
            <li class="item-collection-element">
                <picture class="picture-collection">
                    <source srcset="./img/jpg/image-6@3x.jpg" alt="AUGUST Poltava women's blouseRING"
                        media="(min-width: 1166px)" />
                    <source srcset="./img/jpg/image-6@2x.jpg" alt="AUGUST Poltava women's blouseRING" media="(min-width: 768px)" />
                    <source srcset="./img/jpg/image-6.jpg" alt="AUGUST Poltava women's blouseRING" media="(max-width: 767px)" />
                    <img  class="collection-image" src="./images/section3/lep/banking.jpg" alt="Appearance of banking applications">
                </picture>
            
                <div class="content-collection">
                    <h3 class="subtitle-collection">Men's shirt Yasen</h3>
                    <p class="text-collection">1700 UAH</p>
                </div>
            </li>
        </ul>
    </div>
</section>