<section class="section your-order">
  <div class="container container-your-order">
    <picture class="picture-collection">
      <source srcset="" alt="girl in a vest" media="(min-width: 1166px)" />
      <source srcset="" alt="girl in a vest" media="(min-width: 768px)" />
      <source srcset="" alt="girl in a vest" media="(max-width: 767px)" />
      <img src="" alt="Appearance of banking applications" />
    </picture>

    <h2 class="your-order-title">
      <span class="your-order-your-order">Your order</span> is our priority:
      Personalized approach and quality of service
    </h2>

    <form class="your-order-form">
      <input
        class="your-order-form-input"
        type="text"
        name="full-name"
        placeholder="Enter your full name"
        required
      />
      <input
        class="your-order-form-input"
        type="text"
        name="email"
        placeholder="Enter your email"
        required
      />
      <textarea
        class="your-order-form-textarea"
        name="order-comments"
        placeholder="Comments"
      ></textarea>
      <button class="form-btn" type="submit">
        Send <span><a href="../img/svg/arrow.svg"></a></span>
      </button>
    </form>
  </div>
</section>
