/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
	max-width: 100%;
}

body {
	margin: 0;
	font-family: 'Manrope', sans-serif;
	background-color: #1C2225;
}

section {
	padding-bottom: 80px;
}

.container {
	max-width: 375px;
	padding: 0 20px;
	margin: 0 auto;
}


