.footer {
  background-image: url(../img/png/background-yellow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 150% 150%;
}
.foot {
  height: 649px;
  overflow: hidden;
}
.footer-menu {
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  display: inline-flex;
  align-items: flex-start;
  column-gap: 40px;
  row-gap: 24px;
  flex-direction: row;
}

.two {
  order: 3;
}

.four {
  order: 4;
}
.footer-list {
  flex-basis: calc((100% - 40px) / 2);
}
.footer-link {
  color: #fcf9f9;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em; /* 128.571% */
  text-transform: uppercase;
}
.footer-link:hover {
  color: #ecd979;
}
.footer-text {
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em; /* 122.727% */
  letter-spacing: -1.32px;
  margin-bottom: 80px;
}
.footer-logo {
  color: #ecd979;
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: -1.32px;
}

/* media-tablet */
@media screen and (min-width: 768px) {
  .footer {
    background-image: url(../img/png/background-yellow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 170% 150%;
  }
  .foot {
    height: 370px;
    overflow: hidden;
  }
  .footer-menu {
    flex-direction: row;
    gap: 25px;
    display: inline-flex;
    align-items: flex-start;
    margin-bottom: 80px;
  }
  .footer-list {
    flex-basis: calc((100% - 3 * 25px) / 4);
  }

  .two {
    order: 0;
  }
  .four {
    order: 0;
  }
  .footer-text {
    color: #fcf9f9;
    font-size: 54px;
    font-weight: 400;
    line-height: 64px; /* 118.519% */
    letter-spacing: -1.62px;
    max-width: 521px;
  }
  .footer-logo {
    color: #ecd979;
    font-size: 54px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1.62px;
  }
}

/* media laptop */

@media screen and (min-width: 1280px) {
  .footer {
    background-image: url(../img/png/background-yellow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 120% 100%;
  }
  .foot {
    height: 363px;
    overflow: hidden;
  }
  .footer-menu {
    flex-direction: row;
    gap: 25px;
    display: inline-flex;
    align-items: flex-start;
    margin-bottom: 117px;
  }
  .footer-list {
    flex-basis: calc((100% - 3 * 25px) / 4);
  }

  .two {
    order: 0;
  }
  .four {
    order: 0;
  }
  .footer-text {
    color: #fcf9f9;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px; /* 115.625% */
    letter-spacing: -1.92px;
    max-width: 754px;
  }
  .footer-logo {
    color: #ecd979;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: -1.92px;
  }
}
