.footer {
}
.foot {
  position: relative;
  width: 375px;
  height: 649px;
  overflow: hidden;
}
.footer-menu {
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}
.footer-list {
}
.footer-link {
  color: #fcf9f9;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em; /* 128.571% */
  text-transform: uppercase;
}
.footer-link:hover {
  color: #ecd979;
}
.footer-text {
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em; /* 122.727% */
  letter-spacing: -1.32px;
  margin-bottom: 80px;
}
.footer-logo {
  color: #ecd979;
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: -1.32px;
}

.image {
  position: absolute;
  transform: translateY(190px);
  bottom: 0;
}
.background {
  /* transform: translateY(150px); */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(50%); */
}
