.header {
  padding-top: 20px;
}

.header-comp-nav {
  display: none;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
}

.header-iteam {
  width: 44px;
  height: 44px;
}
.container-soc {
  display: flex;
  gap: 12px;
}

.header-logo {
  margin-right: 87px;
  flex-shrink: 0;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.header-link {
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:focus,
.header-link:hover,
.header-link:active {
  border-radius: 15px;
  border: 1px solid #ecd979;
}

/* MOB MENU */

.mob-menu-btn {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.mob-menu {
  background-color: #ecd979;
  width: 274px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  overflow: auto;
  transform: translate(+100%);
  transition: transform 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: normal;
  background-image: url(../img/png/bg-mob-header.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 340px 302px;
}

@media (min-resolution: 192dpi) {
  .mob-menu {
    background-image: url(../img/png/bg-mob-headerx2.png);
  }
}

.mob-menu.is-open {
  transform: translate(0);
}

.mob-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.header-svg-nav {
  stroke: #ecd979;
}

.icon-heder {
  fill: #fcf9f9;
}

.header-svg-close {
  stroke: #1c2225;
}

.mob-address-link {
  color: #1c2225;
  font-size: 12px;
  line-height: 1.7;
  text-transform: uppercase;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  margin-bottom: 186px;
}

.mob-menu-link {
  color: #1c2225;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
}

.mob-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mob-menu-item {
  text-align: end;
}

.mob-menu-list {
  padding-right: 20px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 20px;
}

/* MEDIA */
@media screen and (min-width: 768px) {
  .mob-menu {
    background-image: url(../img/png/bg-tab-header.png);
    width: 380px;
    background-size: contain;
  }

  @media (min-resolution: 192dpi) {
    .mob-menu {
      background-image: url(../img/png/bg-tab-headerx2.png);
    }
  }

  .header-logo {
    margin-right: 0;
  }

  .header-svg-close {
    width: 44px;
    height: 44px;
  }

  .container-header {
    justify-content: space-between;
  }

  .mob-address-link {
    padding: 14px 28px;
    font-size: 14px;
    line-height: 1.4;
  }

  .mob-menu-close {
    width: 44px;
    height: 44px;
  }

  .mob-menu-item:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .mob-menu-btn {
    display: none;
  }

  .header-comp-nav {
    display: flex;
    gap: 129px;
    margin-right: 20px;
  }

  .header-menu-list {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  .header-logo {
    margin-right: 60px;
  }

  .container-header {
    justify-content: normal;
  }

  .header-menu-link {
    color: #fcf9f9;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:active,
  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #ecd979;
  }

  .address-link {
    color: #fcf9f9;
    font-size: 14px;
    line-height: 1.43;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:active,
  .address-link:hover,
  .address-link:focus {
    border-radius: 15px;
    border: 1px solid #ecd979;
  }
}

@media screen and (min-width: 1440px) {
  .header-comp-nav {
    gap: 289px;
  }
}
