

.title-collection{
	overflow: hidden;
	font-family: "Manrope";
	font-size: 32px;
	text-align:center;
	line-height: 44px;
	color:#FCF9F9;
    letter-spacing: -0.96px;
    margin:0 0 40px;
}


.element{
  background-image: url(../img/png/elements.png);
  background-repeat: no-repeat;
  background-position:0% 11%;
}


.overlay-collection{

}

.collection-image{
    border-radius: 4px;
   flex-shrink: 0px;
  width: 335px;
  height: 400px;

}
.item-collection-element{
  margin-bottom: 20px;
 
}
.item-collection-element:last-child{
  margin-bottom: 0;
}
.content-collection{
   padding-top: 18px;
}

.subtitle-collection{
    overflow: hidden;
color: var(--white, #FCF9F9);
text-overflow: ellipsis;
font-family: "Manrope";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 14px; /* 100% */
letter-spacing: 0.7px;
text-transform: uppercase;

margin-bottom: 8px;
}
.text-collection{
    color: rgba(252, 249, 249, 0.40);
font-family: "Manrope";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
letter-spacing: 0.7px;

}

/*******media screen*********/
@media screen and (min-width: 768px) {

  
  .list-collection{
display: flex;
flex-wrap: wrap;
gap: 20px;
  }
  .title-collection{
    font-size: 44px;
    line-height: 64px;
    letter-spacing: -1.32px;
  }
  .sub::after{
content: "...";
letter-spacing: -1.32px;
margin: -0.4px;
  }
  .subtitle-collection{
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.9px;
  }
  .text-collection{
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.9px;
  }
  .collection-image{
    width: 342px;
    height: 430px;
  }
  .background-images{
    top:49%;
  }
  .element{
  background-image: url(../img/png/g8x2.png);
  background-repeat: no-repeat;
  background-position:-9% 16%;
  }
  .item-collection-element{
      flex-basis: calc((100% - 20px) / 2);
margin-bottom: 0px;
}
.subtitle-span{
    display: none;
}
}
@media screen and (min-width: 1280px){

    .list-collection{
display: flex;
flex-wrap: wrap;
gap:20px;
  }
  
  .item-collection-element{
      flex-basis: calc((100% - 40px) / 3);
margin-bottom: 0px;
  }
   .collection-image{
    width: 347px;
    height: 430px;
  }
  .element{
    background-image: url(../img/png/g8x3.png);
    background-repeat: no-repeat;
    background-position: 0% 16%;
  }
  .sub::after{
content: "...";
  }
  .background-images{
    top: 49%;
  }
.item-collection{
      flex-basis: calc((100% - 40px) / 3);
margin-bottom: 0px;
}
}
    
@media screen and (min-width: 1440px){
.collection-image{
  width: 400px;
  height: 430px;
}
.subtitle-span{
    display:inline;
}
    .sub::after{
content: "";
  }
}
.element{
  background-image: url(../img/png/g8x4.png);
  background-repeat: no-repeat;
  background-position: 0% 27%;
}
