.testimonials-title {
    color: #FCF9F9;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.96px;
    margin-bottom: 64px;
}

.testimonials-item {
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    padding: 54px 18px 18px 18px;
    text-align: center;
    position: relative;
}

.testimonials-item:not(:nth-child(-n + 1)) {
    display: none;
}

.testimonials-img {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translate(-50%);
}

.testimonials-text {
    color: #FCF9F9;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;    
    margin-bottom: 8px;
}

.testimonials-desk {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    max-width: 291px;
}



@media screen and (min-width: 768px) {

    .testimonials-item:not(:nth-child(3n)) {
       display: block;
    }

		.testimonials-list {
			display: flex;
			gap: 32px;
            justify-content: center;
		}

    .testimonials-item {
        width: calc((100% - 32px) / 2);
        
    }

    .testimonials-title {
        font-size: 44px;
        letter-spacing: -1.32px;
            }

    .testimonials-desk {
        font-size: 16px;
        max-width: 300px;
        min-width: 300px;
        text-align: center;
        
    }
}



@media screen and (min-width: 1280px) {

	.testimonials-list {
		gap: 26px;
	}

	.testimonials-item:not(:nth-child(2n)) {
		display: block;
	}

    .testimonials-item {
        flex-basis: calc((100% - 52px) / 3);
    }

    .testimonials-title {
        font-size: 44px;
        letter-spacing: -1.32px;
    }

    .testimonials-desk {
        font-size: 16px;
        max-width: 306px;
    }

}

@media screen and (min-width: 1440px) {
.testimonials-desk {
        max-width: 360px;
    }
}