.section-your-order {
    background-image: url(../img/jpg/girl2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    max-width: 100%;

}

.container-your-order {
    padding-top: 630px;
}

.your-order-vest {}

.your-order-title {}

.your-order-your-order {}

.your-order-form {}

.your-order-form-input {}

.your-order-form-textarea {}

.form-btn {}